<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<cluster name="sepp">
		<node>
			<label>0</label>
		</node>
	</cluster>
	
	
	<monitor>
	
		<object type="web">
			<target>https://www.imixs.org</target>
			<result>imixs</result>
		</object>
	
	</monitor>
</config>
