/* W3.CSS 4.10 February 2018 by Jan Egil and Borge Refsnes */
html {
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #5a5a5a;
}

#imixs-content.loading {
	overflow: hidden;
}

#imixs-content.loading .imixs-wait {
	display: block;
}

.loading {
	background: rgba(255, 255, 255, .8) url(../icons/ajax-loader.gif) 50%
		50% no-repeat;
	color: #ccc;
}

/* Ajax loader */
.imixs-wait {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .8) url('../icons/ajax-loader.gif') 50%
		50% no-repeat;
}

*, *:before, *:after {
	box-sizing: inherit
}

.title-bar h1 {
	font-weight: normal !important;
}

.imixs-header .typcn {
	margin-right: 10px;
}

.imixs-date {
	width: 7em !important;
}

.content {
	background-color: #FFFFFF;
}

.content .green {
	color: #58990a;
}

.content .red {
	color: #d0222a;
}

.container-box {
	display: flex; /* or inline-flex */
	flex-wrap: wrap;
	min-height: 70px;
	margin: 10px;
	font-size: 0.85em;
}

.container-box h1 {
	font-weight: normal;
	font-size: 2em;
	width: 100%;
	margin: 10px;
}

.container-panel {
	min-height: 115px;
	padding: 10px;
	background: #f3f3f3;
	margin: 10px 10px 20px 10px;
	-webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px
		rgba(43, 43, 43, .1);
	box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px
		rgba(43, 43, 43, .1);
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.container-panel p {
	font-weight: bold;
}
.container-panel h2 {
	font-weight: bolder;
}

.container-panel h3 {
	font-weight: bolder;
	font-size: 1.33em;
}

button, input[type="button"], input[type="submit"], .button, a.button,
	.imixs-button {
	background: #FCB802;
	color: #fff !important;
	font-weight: normal !important;
}

a.button {
	padding: 0.15em 0.75em;
	border-radius: 3px;
}

#imixs-content {
	padding-bottom: 80px;
}

#imixs-content a.imixs-button {
	color: inherit;
}

#imixs-content a.imixs-button:hover {
	color: #fff;
}

#imixs-footer {
	width: 100%;
	padding: 10px 30px 10px 210px;
	text-align: right;
}

#imixs-footer a {
	color: inherit;
}

/* tootip */
span.tooltip:hover {
	cursor: help;
	position: relative
}

span.tooltip span.tip {
	display: none
}

span.tooltip:hover span.tip {
	display: block;
	z-index: 100;
	left: -285px;
	width: 300px;
	position: absolute;
	top: 16px;
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	font-size: 0.85rem;
	background-color: #ffffff;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px
		rgba(43, 43, 43, .1);
	box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px
		rgba(43, 43, 43, .1);
	border: 1px solid #CCC;
	margin-bottom: 30px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.typcn.error {
	color: #e83636d9;
}

.typcn.success {
	color: green;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus,
	select:focus {
	border: 1px solid #145267;
	border-radius: 3px;
}

table {
	font-size: 14px;
}

table, td, th {
	border: none;
	border-bottom: 1px solid #ddd;
}

th {
	font-weight: bold;
	font-size: 1.2em;
	text-align: left;
}

.imixsdatatable a {
	color: #428bca !important;
}

.danger-zone {
	border: 1px solid #cb2431;
	border-radius: 4px;
	padding: 10px 10px;
}

.danger-zone  .typcn {
	margin-right: 5px;
}

.danger-zone button, .danger-zone input[type="button"], .danger-zone input[type="submit"]
	{
	color: #cb2431;
}

.pull-right {
	float: right;
}

/* Responsive */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 700px) {
}